@page
@using Common.DateUtil;
@using Common.Enums;
@using PanelBusinessLogicLayer.BusinessComponents.IdentitiesComponents;
@using PanelBusinessLogicLayer.BusinessServices.BaseDefinitionsServices;
@model PanelPresentationLayer.Pages.Panel.Identities.Personnels.IndexModel
@{
    var educationDegreeService = new EducationDegreeService();
    var caseStatusService = new CaseStatusService();
    var educationDegrees = await educationDegreeService.ReadAsync();
    var caseStatuses = await caseStatusService.ReadAsync();
    ViewData["title"] = "پنل کاربری | مدیریت پرسنل";
    ViewData["selected"] = "Personnels";
    ViewData["nav"] = "مدیریت پرسنل";
    var fullName = ViewData["FullName"]?.ToString();
    var nationalCode = ViewData["NationalCode"]?.ToString();
    long? employmentTypeId = ViewData["EmploymentTypeId"] == null ? null : (long)ViewData["EmploymentTypeId"];
    long? educationDegree = ViewData["EducationDegree"] == null ? null : (long)ViewData["EducationDegree"];
    long? caseNumber = ViewData["CaseNumber"] == null ? null : (long)ViewData["CaseNumber"];
    long? caseStatus = ViewData["CaseStatus"] == null ? null : (long)ViewData["CaseStatus"];
    var serviceLocation = ViewData["ServiceLocation"]?.ToString();
    int pageId = (int)ViewData["PageId"];
    int take = (int)ViewData["Take"];
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header border-bottom">
            <h5 class="card-title mb-3">جست و جو بر اساس فیلتر</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_plan">
                    <input type="search" id="fullName" class="form-control" placeholder="نام و نام خانوادگی" aria-controls="DataTables_Table_0">
                </div>
                <div class="col-md-4 user_status">
                    <input type="search" id="nationalCode" class="form-control" placeholder="کد ملی" aria-controls="DataTables_Table_0">
                </div>
                <div class="col-md-4 user_role">
                    <select onchange="changePage(1)" id="caseStatus" class="form-select text-capitalize">
                        <option value="">وضعیت پرونده</option>
                        @foreach (var item in caseStatuses)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_status">
                    <input type="search" id="caseNumber" class="form-control" placeholder="شماره پرونده" aria-controls="DataTables_Table_0">
                </div>
                <div class="col-md-4 user_plan">
                    <input type="search" id="serviceLocation" class="form-control" placeholder="محل خدمت" aria-controls="DataTables_Table_0">
                </div>
                <div class="col-md-4 user_role">
                    <select onchange="changePage(1)" id="educationDegree" class="form-select text-capitalize">
                        <option value="">مدرک تحصیلی</option>
                        @foreach (var item in educationDegrees)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card-datatable table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="row me-2">
                    <div class="col-md-1">
                        <div class="me-3">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                <label>
                                    <select onchange="changePage(1)" id="take" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <button onclick="changePage(1)" class="btn btn-secondary buttons-collection btn-label-secondary mx-3" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false">
                                    <span><i class="ti ti-search me-1 ti-xs"></i>جستو جو</span>
                                </button>
                            </div>
                            <div class="dt-action-buttons text-end pt-3 pt-md-0">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <div class="btn-group">
                                        <a asp-page="Index" asp-page-handler="DownloadExcel" class="btn btn-secondary buttons-collection btn-label-primary me-2" >
                                            <span>
                                                <i class="ti ti-id me-sm-1"></i>
                                                <span class="d-none d-sm-inline-block">نمونه فایل</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-secondary buttons-collection btn-label-primary me-2" onclick="OpenModal('@Url.Page("Index","RenderAddExcelPage")','bigModal','فایل اکسل را انتخاب نمایید')" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false">
                                            <span>
                                                <i class="ti ti-file-export me-sm-1"></i>
                                                <span class="d-none d-sm-inline-block">افزودن با اکسل</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <a asp-page="Index" asp-page-handler="ExportExcel" class="btn btn-secondary buttons-collection btn-label-primary me-2" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false">
                                            <span>
                                                <i class="ti ti-plus me-sm-1"></i>
                                                <span class="d-none d-sm-inline-block">خروجی اکسل</span>
                                            </span>
                                        </a>
                                    </div>
                                    <button class="btn btn-secondary create-new btn-primary" onclick="OpenModal('@Url.Page("Index","RenderAddPage")','bigModal','افزودن پرسنل جدید')" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                        <span>
                                            <i class="ti ti-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">افزودن پرسنل جدید</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            @*<div class="dt-buttons btn-group flex-wrap">
                            <div class="btn-group">
                            <button class="btn btn-secondary add-new btn-primary" onclick="OpenModal('@Url.Page("Index","RenderAddPage")','bigModal','افزودن پرسنل جدید')" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                            <span>
                            <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
                            <span class="d-none d-sm-inline-block">افزودن پرسنل جدید</span>
                            </span>
                            </button>
                            </div>
                            <button class="btn btn-secondary add-new btn-primary" onclick="OpenModal('@Url.Page("Index","RenderAddPage")','bigModal','افزودن پرسنل جدید')" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                            <span>
                            <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
                            <span class="d-none d-sm-inline-block">افزودن پرسنل جدید</span>
                            </span>
                            </button>
                            </div>*@
                        </div>
                    </div>
                </div>

                <div class="row me-2">
                    <div id="listpat">
                        @await Component.InvokeAsync("Personnel",new PersonnelFilterParams(){
                        FullName = fullName,
                        NationalCode= nationalCode,
                        EmploymentTypeId = employmentTypeId,
                        CaseStatus = caseStatus,
                        ServiceLocation = serviceLocation ,
                        CaseNumber = caseNumber,
                        EducationDegreeId = educationDegree,
                        PageId = pageId,
                        Take= take})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
